USE [master]
GO
/****** Object:  Database [EP_SQL]    Script Date: 27.04.2026 14:25:20 ******/
CREATE DATABASE [EP_SQL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EP_SQL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\EP_SQL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EP_SQL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\EP_SQL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EP_SQL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EP_SQL]
GO
/****** Object:  Table [dbo].[Firmalar]    Script Date: 27.04.2026 14:25:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Firmalar](
	[FirmaID] [int] IDENTITY(1,1) NOT NULL,
	[FirmaAdi] [nvarchar](100) NOT NULL,
	[VergiDairesi] [nvarchar](50) NULL,
	[VergiNo] [nvarchar](11) NULL,
	[KurulusYili] [int] NULL,
	[FirmaMerkezi] [nvarchar](150) NULL,
	[SektorID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FirmaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sektorler]    Script Date: 27.04.2026 14:25:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sektorler](
	[SektorID] [int] IDENTITY(1,1) NOT NULL,
	[SektorAdi] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SektorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicariIslemler]    Script Date: 27.04.2026 14:25:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicariIslemler](
	[IslemID] [int] IDENTITY(1,1) NOT NULL,
	[FirmaID] [int] NULL,
	[Yil] [int] NULL,
	[YillikHacim] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IslemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Firmalar] ON 

INSERT [dbo].[Firmalar] ([FirmaID], [FirmaAdi], [VergiDairesi], [VergiNo], [KurulusYili], [FirmaMerkezi], [SektorID]) VALUES (1, N'Karali Vinç', N'İlyasbey V.D.', N'5171681248', 2024, N'Çayırova', 1)
INSERT [dbo].[Firmalar] ([FirmaID], [FirmaAdi], [VergiDairesi], [VergiNo], [KurulusYili], [FirmaMerkezi], [SektorID]) VALUES (2, N'Sürmeneli Vinç', N'İlyasbey V.D.', N'7870325713', 2000, N'Gebze', 1)
INSERT [dbo].[Firmalar] ([FirmaID], [FirmaAdi], [VergiDairesi], [VergiNo], [KurulusYili], [FirmaMerkezi], [SektorID]) VALUES (3, N'Çalık Grup', N'Kartal V.D.', N'99900011122', 2015, N'Gebze', 4)
SET IDENTITY_INSERT [dbo].[Firmalar] OFF
GO
SET IDENTITY_INSERT [dbo].[Sektorler] ON 

INSERT [dbo].[Sektorler] ([SektorID], [SektorAdi]) VALUES (1, N'Vinç')
INSERT [dbo].[Sektorler] ([SektorID], [SektorAdi]) VALUES (2, N'Platform')
INSERT [dbo].[Sektorler] ([SektorID], [SektorAdi]) VALUES (3, N'İnşaat')
SET IDENTITY_INSERT [dbo].[Sektorler] OFF
GO
SET IDENTITY_INSERT [dbo].[TicariIslemler] ON 

INSERT [dbo].[TicariIslemler] ([IslemID], [FirmaID], [Yil], [YillikHacim]) VALUES (21, 6, 2023, CAST(29390.40 AS Decimal(18, 2)))
INSERT [dbo].[TicariIslemler] ([IslemID], [FirmaID], [Yil], [YillikHacim]) VALUES (22, 6, 2024, CAST(4513.41 AS Decimal(18, 2)))
INSERT [dbo].[TicariIslemler] ([IslemID], [FirmaID], [Yil], [YillikHacim]) VALUES (23, 6, 2025, CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[TicariIslemler] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Firmalar__3849AC297E9DACC7]    Script Date: 27.04.2026 14:25:21 ******/
ALTER TABLE [dbo].[Firmalar] ADD UNIQUE NONCLUSTERED 
(
	[VergiNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Firmalar]  WITH CHECK ADD  CONSTRAINT [FK_Firmalar_Sektor] FOREIGN KEY([SektorID])
REFERENCES [dbo].[Sektorler] ([SektorID])
GO
ALTER TABLE [dbo].[Firmalar] CHECK CONSTRAINT [FK_Firmalar_Sektor]
GO
ALTER TABLE [dbo].[TicariIslemler]  WITH CHECK ADD FOREIGN KEY([FirmaID])
REFERENCES [dbo].[Firmalar] ([FirmaID])
GO
USE [master]
GO
